<% provide(:title, 'AboutUs')%>

<div id="aboutmain"  class="aboutcontent">
  <p id="abouttitle">Let's Get Pro!</p>
    <p>
      A Let's Get Pro! é uma aplicação de uma rede social a nível profissional que permite visualizar o perfil de candidatos e de empresas ajudando a melhorar o relacionamento
      entre ambos com o ambito de eliminar as barreiras e criar novas oportunidades.
    </p>
    <p>
      Um trabalho prático para a cadeira DaWeb do curso de LEI/MIEI da Faculdade de Ciências e Tecnologia da Universidade Nova de Lisboa.
    </p>
    <br>
    <span id="developedby"><p>Developed by:</p></span>
    <span id="group"><p>Grupo <strong>35</strong></p></span>

    <div class="profileitem">
      <div class="profileitem_image profileitemcontent">

      </div>
      <div class="profileitem_description profileitemcontent">
        <p><strong>João Rodrigues</strong></p>
        <p>jfn.rodrigues@campus.fct.unl.pt</p>
        <p>nº25503</p>
      </div>
      <div class="profileitem_options profileitemcontent">

      </div>
    </div>

    <div class="profileitem">
      <div class="profileitem_image profileitemcontent">

      </div>
      <div class="profileitem_description profileitemcontent">
        <p><strong>Nuno Ribeiro</strong></p>
        <p>fr15435@campus.fct.unl.pt</p>
        <p>nº42012</p>
      </div>
      <div class="profileitem_options profileitemcontent">

      </div>
    </div>
</div>
<div id="abouttie" class="aboutcontent">
  <br>
  <%= image_tag '/assets/tiegreen.png', :width => '80%' %>
</div>
