<% provide(:title, 'AboutUs')%>
<h1 id="pagetitle">Let's Get Pro!</h1>
<p>
  A Let's Get Pro! é uma aplicação de uma rede social a nível profissional que permite visualizar o perfil de candidatos e de empresas ajudando a melhorar o relacionamento
  entre ambos com o ambito de eliminar as barreiras e criar novas oportunidades.
</p>
<p>
  Um trabalho prático para a cadeira DaWeb do curso de LEI/MIEI da Faculdade de Ciências e Tecnologia da Universidade Nova de Lisboa.
</p>

<p>Developed by:</p>
<p>Grupo <strong>35</strong></p>

<div class="subfootercontent">
    <h4>João Rodrigues</h4>
    <p>jfn.rodrigues@campus.fct.unl.pt</p>
    <p>nº25503</p>
</div>
<div class="subfootercontent">
    <h4>Nuno Ribeiro</h4>
    <p>nfr15435@campus.fct.unl.pt</p>
    <p>nº42012</p>
</div>
