<p id="notice"><%= notice %></p>

<p>
  <strong>Employment:</strong>
  <%= @employment.employment %>
</p>

<%= link_to 'Edit', edit_employment_path(@employment) %> |
<%= link_to 'Back', employments_path %>
