<% provide(:title, 'Users')%>
<h1 id="pagetitle">Listing Contacts</h1>


<% @users.each do |user| %>
  <a href="<%= user_path(user) %>">
    <div class="profileitem">
      <div class="profileitem_image">

      </div>
      <div class="profileitem_description">
        <p><strong><%= user.name %></strong></p>
        <p><%= user.email %></p>
        <p><%= user.country %></p>
      </div>
      <div class="profileitem_options">

      </div>
    </div>
  </a>
<% end %>


<br>


