<% provide(:title, 'Users')%>
<h1 id="pagetitle">Listing Contacts</h1>


<% @users.each do |user| %>

    <div class="profileitem">
      <div class="profileitem_image">

      </div>
      <div class="profileitem_description">
        <p><strong><%= link_to user.name, user_path(user) %></strong></p>
        <p><%= user.email %></p>
        <p><%= user.country %></p>
      </div>
      <div class="profileitem_options">

      </div>
    </div>

<% end %>


<br>


