<% provide(:title, @company.name)%>
<h1 id="pagetitle">Editing company</h1>

<%= render 'form' %>

<%= link_to 'Show', @company, :class => 'button' %> |
<%= link_to 'Back', companies_path, :class => 'button' %>
